{% extends "base.html" %}

{% block title %}
Market
{% endblock %}

{% block body %}
<main class="px-3">
    <h1 style="margin-bottom: 5rem;">Market</h1>
    {% if weeds|length > 0 %}
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            {% for weed in weeds %}
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">{{ weed.name }}</h4>
                        </div>
                        <div class="card-body">
                            <div class="wrapper myimg">
                                <img src="../static/img/weed/{{ weed.img }}">
                            </div>
                            <h1 class="card-title pricing-card-title">₽{{ weed.price }}<small class="text-body-secondary fw-light">/gr</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Brand: {{ weed.brand }}</li>
                                <input type="hidden" name="weed_id" value="{{ weed.id }}">
                                <li>Rating: {{ weed.rating|string() + "⭐" }}</li>
                                <li>Count: {{ weed.count }} gr</li>
                                <li>TGK: {{ weed.tgk }}%</li>
                                <li>Compound: {{ weed.compound }}</li>
                            </ul>
                            <input type="text" name="count" id="count" class="btn btn-secondary my-2" value="{%for cart_item in cart_items%}{%if weed.id == cart_item.weed_id%}{{cart_item.count}}{%endif%}{%endfor%}" placeholder="Количество" oninput="validateCount(this, {{ weed.count }})">
                            <script>
                                function validateCount(input, maxCount) {
                                    var count = input.value.trim();
                                    count = parseInt(count);
                                    console.log(count)

                                    if (isNaN(count)) {
                                        input.value = 0;
                                    } else if (count < 1 || count > maxCount) {
                                        input.value = Math.min(Math.max(count, 1), maxCount);
                                    }

                                }
                            </script>
                            <button type="button" class="btn btn-outline-primary my-2 add-to-cart-btn" data-weed-id="{{ weed.id }}">Add to cart</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function() {
                $(".add-to-cart-btn").click(function() {
                    var weedId = $(this).data("weed-id");
                    var count = $(this).parent().find("#count").val();

                    $.ajax({
                        url: "/add_to_cart",
                        type: "POST",
                        data: {
                            weed_id: weedId,
                            count: count
                        }
                    });
                });
            });
        </script>
    {% else %}
        <h2>Сайт в разработке</h2>
    {% endif %}
</main>
{% endblock %}
